@model MVC2.Models.Person

@{
    ViewData["Title"] = "Xóa thông tin";
}
<form asp-action="Delete">
<h1>Bạn có muốn xóa không</h1>
<div>
    <input class="Back-btn" type="submit" value="Yes" id="btn" />
    <a asp-action="Index" class="Back-btn">Cancel</a>
</div>
</form>
<script>
         var submit = document.getElementById("btn");
            submit.onclick = function(){
             alert("Bạn đã xóa thành công người dùng @Model.LastName")
            }
</script>

<style>
.Back-btn 
{
   font-weight: bold;
   font-size: 1em;
   letter-spacing: 0.1em;
   text-decoration: none;
   color: black;
   display: inline-block;
   padding: 10px 40px 10px 40px;
   position: relative;
   border: 3px solid #ffffff;
   border-radius: 20px;
 }
</style>